@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --ff: "Poppins", sans-serif;

  /*Primary*/
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /*Neutral*/

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

html {
  box-sizing: border-box;
}
body {
  background-color: var(--very-light-gray);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 200;
  font-family: var(--ff);
}

h1,
h2 {
  font-size: 1.25rem;
}

h2,
h3 {
  font-weight: 600;
}

p {
  font-size: 0.8rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  height: 3em;
  padding-top: 1em;
}

.content {
  padding: 4em 0;
  margin: 0 auto;
  width: 90%;
}

.intro {
  margin-bottom: 3em;
}

.intro p {
  margin-top: 1rem;
}

/*Card*/
.card-item {
  margin: 1.2em auto 0;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 0 1.5em 1em;
  background-color: white;
  width: 20em;
  max-width: 90%;
  height: 10em;
}

.supervisor {
  border-top: 4px solid var(--cyan);
}

.team-builder {
  border-top: 4px solid var(--red);
}

.karma {
  border-top: 4px solid var(--orange);
}

.calculator {
  border-top: 4px solid var(--blue);
}

.card-item h3 {
  padding-top: 1em;
  padding-bottom: 0.25em;
}

/*Footer*/
footer {
  margin-top: 1.5rem;
}

.attribution,
a {
  text-align: center;
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 48em) {
  .content {
    max-width: 80%;
  }

  .intro {
    text-align: center;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }

  .card-item,
  .column {
    width: 100%;
  }

  .column .card-item {
    margin-inline: 0;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
  }
}
